<div class="container col-xs-12">
        <h1>Login</h1>
    <div  ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

        <form >
        <input  type="text"
               class="form-control"
               placeholder="username"
            ng-model="username"/>
        <input type="password"
               class="form-control"
               placeholder="password"
            ng-model="password"/>
        <a class="btn btn-primary btn-block"
           ng-click="model.login(username,password)">Login</a>
        <a class="btn btn-success btn-block"
           href="#/register">Register</a>
        </form>
</div>