<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">

                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget()" >
                  <span class="glyphicon glyphicon-ok">
                  </span>
            </a>
        </div>

        <div class="">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Widget Edit
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <!-- fetching the widget from the data -->

    <ng-include src="model.getEditorTemplateUrl(model.widget.widgetType)">

    </ng-include>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-text pull-right" >
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>