
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" >Choose Widget</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.createNewWidget()" >
                    <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" >New Widget</a>
            </div>

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs wbdv-left-pane">

            <ul class="list-group">
                <li ng-repeat="widget in model.currentWidgets" class="list-group-item">
                    <div class="">
                        <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/{{widget.widgetType}}">
                            {{widget.label}}
                        </a>

                    </div>
                </li>
            </ul>

        </div>
        <div class="col-sm-8 col-xs-12 wbdv-right-pane">
            <ng-include src="model.getEditorTemplateUrl(model.widget.widgetType)">
            </ng-include>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-text pull-right" >
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>