

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Choose Widget
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="widget in model.currentWidgets" class="list-group-item">
            <div>
                <a  ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/{{widget.widgetType}}">
                    {{widget.label}}
                </a>
            </div>
        </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-text pull-right" >
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
