
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#/user/{{model.userId}}/website" >Websites</a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="website-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-text pull-right">
                <a ng-click = "model.updateWebsite()">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Edit Website</a>
            </div>

        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <ul class="list-group">
                <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <a  href="#/user/{{model.userId}}/website/{{website._id}}"
                   class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
            </ul>
        </div>

    </div>
    <div class="col-xs-12 col-sm-8 wbdv-right-pane paddingTop borderLeft"  >

        <label for="name">Website Name</label>
        <input class="form-control"
               id="name"
               placeholder="Website Name"
               ng-model="model.website.name" >

        <label for="description">Website Description</label>
        <textarea  class="form-control"
                  id="description"
                  rows="5"
                  placeholder="Description"
                  ng-model= "model.website.description" >
        </textarea>

        <a ng-click="model.deleteWebsite()" class="btn btn-danger btn-block">
            Delete
        </a>

    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="navbar-text pull-right paddingRight" >
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
