
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left paddingExtra">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website"
               class="navbar-brand no-left-padding no-left-margin">
                Websites
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group" >
    <li ng-repeat="website in model.websites" class="list-group-item" >
        <div class="row">
            <div class="col-xs-11 col-sm-6">
                <!-- below one should redirect to the pages of website rather than edit -->
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
                </a>
            </div>
            <div class="col-sm-3 hidden-xs">
                {{website.created | date}}
            </div>
            <div class="col-sm-2 hidden-xs">
                {{website.developerId}}
            </div>
            <div class="col-xs-1">
                <a href="#/user/{{model.userId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </div>
    </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right paddingRight" >
            <a href="../views/user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
