    <form style="margin-top: 10px" action="/api/upload"  method="post" enctype="multipart/form-data">
        <label for="pagename"> Name </label>
        <input  ng-model="model.widget.name" type ="text" class = "form-control"id="pagename" placeholder="Blog Post">

        <label for="title"> Text </label>
        <input ng-model="model.widget.title" type ="text" class = "form-control"id="title" placeholder="Page Title">

        <label for="url"> URL </label>
        <input ng-model="model.widget.url" type ="url" class = "form-control"id="url" placeholder="https://www.google.com" >

        <label for="width"> Width </label>
        <input ng-model="model.widget.width" type ="text" class = "form-control"id="width" placeholder="enter width size">
            <div class="form-group">
                    <label for="widgetUpload">Upload</label>
                    <input type="file" id="widgetUpload" name="myFile" class="form-control"/>
                    <input name="widgetId" value="{{model.widgetId}}" style="display: none"/>
                    <input name="userId" value="{{model.userId}}" style="display: none"/>
                    <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
                    <input name="pageId" value="{{model.pageId}}" style="display: none"/>
                    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
                    <a class="btn btn-primary btn-block"
                       href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr">Search Image</a>
            </div>
        <a  ng-show="model.widget._id"
            ng-click = "model.deleteWidget()"
            class="btn btn-danger btn-block">Delete</a>
    </form>
