<h3>Header Editor</h3>

<label>Name</label>
<input ng-model="model.widget.name" class="form-control"/>

<label>Text</label>
<input ng-model="model.widget.text" class="form-control"/>

<label>Size</label>
<select ng-model="model.widget.size" class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
</select>

<a ng-show="model.widget._id"
   ng-click = "model.deleteWidget()"
   style="margin-top: 4px"
   class="btn btn-danger
    btn-block">Delete</a>
